.main{
    height: 410px;
    width: 280px;
    background-color: darkslateblue;
    text-align: center;
    margin-left: 40%;
    margin-top: 100px;
    border-radius: 15px;
}
input{
    height: 40px;
    width: 240px;
    border-radius: 15px;
}
button{
    height: 50px;
    width: 60px;
    border-radius: 10px;
}
.q1{
    width: 120px;
}
